@using Aoraki.Web.Extensions
@model Aoraki.Web.Models.ViewModels.JournalIndexViewModel
@{
    ViewData["Title"] = "home";
}

<div class="innerwidth">
    @foreach (var post in Model.Posts)
    {
        <section>
            <h3>
                <a asp-route="journal" asp-route-slug="@post.Slug"
                   asp-route-year="@post.Published?.Year">
                    @post.Title
                </a>
            </h3>
            <p>
                Published
                <time datetime="@post.Published?.ToString("O")">
                    @post.Published?.ToString("D")
                </time>
            </p>
            @* @if (post.Tags != null)
            {
                <p>[ @string.Join(", ", post.Tags) ]</p>
            } *@
            <p>
                @{
                    var postText = post.ToPlainText();
                    var truncatedText = postText.Substring(0, Math.Min(postText.Length, 250));
                }
                @truncatedText...
                <a asp-route="journal" asp-route-slug="@post.Slug"
                   asp-route-year="@post.Published?.Year">
                    [ read on &rarr; ]
                </a>
            </p>
        </section>
        <br />
    }
</div>

@await Html.PartialAsync("Pagination", Model.Pagination)