@using Aoraki.Web.Extensions
@model Aoraki.Web.Models.Entities.BlogPost

<section>
    <h3>
        <a asp-route="journal" asp-route-slug="@Model.RowKey"
           asp-route-year="@Model.Published?.Year">
            @Model.Title
        </a>
    </h3>
    <p>
        Published
        <time datetime="@Model.Published?.ToString("u")">
            @Model.Published?.ToString("D")
        </time>
    </p>
    @if ((bool?)ViewData["ShowExcerpts"] ?? true)
    {
        <p>
            @{
                var postText = Model.ToPlainText();
                var truncatedText = postText[..Math.Min(postText.Length, 250)];
            }
            @truncatedText...
            <a asp-route="journal" asp-route-slug="@Model.RowKey"
               asp-route-year="@Model.Published?.Year"
               class="readon">
                [ read on &rarr; ]
            </a>
        </p>
    }
</section>