@using Aoraki.Web.Extensions
@model JournalPostReadViewModel
@{
    ViewData["Title"] = Model.Post.Title.ToLowerInvariant();
}

<div class="innerwidth">
    <article class="journal">
        <h1 class="title">@Model.Post.Title</h1>
        <div class="frontmatter">
            @if (!string.IsNullOrEmpty(Model.Post.Lead))
            {
                <p class="lead">@Model.Post.Lead</p>
            }

            <p class="date">
                Published on
                <time datetime="@Model.Post.Published?.ToString("u")">
                    @Model.Post.Published?.ToString("f")
                </time>
            </p>

            <hr/>
        </div>

        @Html.Raw(Model.Post.ToHtml())

        <partial name="Icons/Bleb"/>
    </article>

    <hr/>

    <partial name="Partials/Journal/JournalReactions" model="Model.Reactions"/>
</div>

@section Styles
{
    <style>
        .reactions > span:not(:last-of-type):after {
            content: " ";
            margin-left: 12px;
        }
    </style>
}