@using Aoraki.Web.Extensions
@model Aoraki.Web.Models.Entities.BlogPost
@{
    ViewData["Title"] = Model.Title.ToLowerInvariant();
}

<article class="journal innerwidth">
    <h1 class="title">@Model.Title</h1>
    <div class="frontmatter">
        @if (!string.IsNullOrEmpty(Model.Lead))
        {
            <p class="lead">@Model.Lead</p>
        }

        <p class="date">
            Published on
            <time datetime="@Model.Published?.ToString("u")">
                @Model.Published?.ToString("f")
            </time>
        </p>

        <hr />
    </div>

    @Html.Raw(Model.ToHtml())

    @await Html.PartialAsync("Icons/Bleb")
</article>